/* Start of Navigation Styles */

nav {
  margin: -9.5px !important;

  list-style-type: none;
  overflow: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  background-color: #1F2833;
  border: 1px solid #1F2833;
  border-radius: 0px;
}

nav > ul > li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.5vmax;
  color: white;

}

nav > ul > li:nth-child(1) {
  font-weight: 700;
}

div {
  border-left: 5px solid tomato;
}
body {
  /*sets the background color*/
  background-color: black ;
  /*
  background-image: url(../images/background.jpg);
  */
  background-size: cover;
}

/*sets the formating for the header(h1)*/
h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2vmax;
  color: #3D8F8B;
}

/*sets the formatting for the paragraph*/
p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 2vmax;
  color: #C5C6C7;
}

/*sets formatting for the body*/
b {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2vmax;
  color:#C5C6C7;
}
/*sets formating for a blockquote */
blockquote{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2vmax;
  color:#BEBFC1;
  padding-top: 0px;
  padding-right: 1vmax;
  padding-bottom: 0px;
  padding-left: 1vmax;
  border-left: 0.5vmax solid lightgray;
}

.tab
{
  border: none;
  background: none;
  font-size: 1.5vmin;
  padding: 0px;
  text-transform: uppercase;
  border-radius: 8px;
  display: inline-block;
}

.tab button
{
  background: tomato;
  color: floralwhite !important;
  font-size: 1.5vmax;
  padding: 10px;
  text-transform: uppercase;
  border-color: none;
  border-radius: 8px;
  display: inline-block;
}

.tab button:hover
{
  border-color: none;
  border-radius: 8px;
  color: tomato !important;
  font-size: 2vmax !important;
  letter-spacing: 3px;
  background: none;
}

.tab button.active
{
  border-color: none;
  border-radius: 8px;
  color: tomato !important;
  font-size: 2vmax !important;
  letter-spacing: 5px;
  background: none;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

IMG.center {
    display: block;
    margin-left: auto;
    margin-right: auto }
